.IncognitoHunks{
    width:100%;
    height:100vh;
    min-height:840px;
    display:flex;
    position:relative;
    flex-direction:row;
    justify-content:center;
    overflow:visible;
}

.IncognitoHunks .Blur{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 1;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

.IncognitoHunks .Tapes {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../images/IncognitoHunks/tapes.svg);
    background-position: center center;
}

.IncognitoHunks .Questionmarks {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../images/IncognitoHunks/question.svg);
    background-position: center center;
}

@media (max-width:1000px){
    .IncognitoHunks{
        flex-direction:column-reverse;
        align-items:center;
        height:1000px;
    }
    .IncognitoHunks .Questionmarks {
        background-image: url(../../images/IncognitoHunks/question_small.svg);
    }
    .IncognitoHunks .Tapes {
        background-size: 100% auto;
        background-position: center center;
        background-image: url(../../images/IncognitoHunks/tapes_small.png);
    }   
}

@media (max-width:770px){
    .IncognitoHunks .Tapes {
        background-size: auto 100%;
    }    
}

@media (max-width:600px){
    .IncognitoHunks{
        height:1050px;
    }
}

@media (max-width:550px){
    .IncognitoHunks{
        height:1080px;
        background-color: #96a5fe;
    }

    .IncognitoHunks .Description.Scheme{
        height:90%;
    }
}