.Hunks10k .Slider{
    width:50%;
    height:100%;
    max-width:900px;
    display:flex;
    align-items:center;
    padding-right:80px;
    padding-bottom:80px;
    position:relative;
}

.Hunks10k .InstructionSwipe {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 600px;
    height: 263px;
    transform: translateX(-54%);
    z-index: 3;
    pointer-events: none;
}


.Hunks10k .InstructionSwipe video{
    width:100%;
    height:100%
}

.Hunks10k .swiper{
    width:600px;
    height:600px;
}
  
.Hunks10k .swiper-slide{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:38px;
}

.Hunks10k .swiper-slide video{
    height:100%;
}

@media(max-width:1650px){
    .Hunks10k .Slider{
        padding-right:20px;
    }

    .Hunks10k .swiper{
        width:500px;
        height:500px;
    }

    .Hunks10k .InstructionSwipe {
        width: 500px;
        height: 219px;
    }
}

@media(max-width:1360px){
    .Hunks10k .swiper{
        width:420px;
        height:420px;
    }

    .Hunks10k .InstructionSwipe {
        width: 420px;
        height: 184px;
        transform: translateX(-50%);
    }
}

@media(max-height:900px){
    .Hunks10k .Slider{
        padding-bottom:0;
    }
}

@media(max-height:750px) and (min-width:1360px){
    .Hunks10k .swiper{
        width:500px;
        height:500px;
    }
    .Hunks10k .InstructionSwipe {
        width: 500px;
        height: 219px;
    }
}

@media(max-width:1000px){
    .Hunks10k .Slider{
        margin-top:45px;
        width:100%;
        padding-right:0;
    }
    .Hunks10k .swiper{
        width:380px;
        height:380px;
    }

    .Hunks10k .InstructionSwipe {
        width: 380px;
        height: 167px;
    }

    .Hunks10k .InstructionSwipe{
        top:40%;
        width:300px;
        height:132px;
        transform: translateX(-50%);
    }
}

@media(max-width:500px){

    .Hunks10k .Slider{
        margin-top:20px;
    }

    .Hunks10k .swiper{
        width:100%;
        height:520px;
    }

    .Hunks10k .InstructionSwipe {
        width: 100vw;
        overflow:visible;
    }

    .Hunks10k .swiper-slide{
        background-size:cover !important;
        background-position:center;
    }
}

@media(max-width:370px){
    .Hunks10k .swiper{
        height:490px;
    }
}