.Trailer{
    height:12%;
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.Trailer .Btn{
    width:260px;
    height:55px;
    line-height:55px;
    margin-top:5px;
    text-align:center;
    background-color:rgb(255, 255, 255, 0.15);
    border-radius:29px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    letter-spacing:2px;
    text-decoration:none;
    color:white;
    font-family:Lato;
    font-weight:700;
    font-size:16px;
}

@media (max-height: 700px){
    .Trailer .Btn{
        margin-top:2px;
        width:220px;
        height:45px;
        line-height:45px;
    }
}

@media (max-height: 500px){
    .Trailer .Btn{
        margin-top:0;
        width:210px;
        height: 38px;
        line-height:38px;
    }
}

@media (max-height: 360px) and (orientation: landscape){
    .Trailer .Btn{
        margin-top:1px;
        width:180px;
        height: 32px;
        line-height:32px;
    }
}

@media (max-height: 300px) and (orientation: landscape){
    .Trailer .Btn{
        margin-top:1px;
        width:180px;
        height: 24px;
        line-height:24px;
    }
}

@media (max-width: 360px){
    .Trailer .Btn{
        margin-top:1px;
        width:180px;
        height: 38px;
        line-height:38px;
    }
}
